extends ../layout
block content
  .container.show
    #view
      h2=record.name
      a(href="#") Rename

    #edit
      h2.hide
        form
          input(type="text", value=record.name)
          button.btn.btn-primary(type="submit") Save
    .row
      .col-sm-2
        label URL:
      .col-sm-10
        a(href=record.url) Link
    .row
      .col-sm-2
        label Duration:
      .col-sm-10
        p= record.duration
    .row
      .col-sm-2
        label Processing Cost:
      .col-sm-10
        p= record.processing_cost
    .row
      .col-sm-2
        label Tags:
      .col-sm-10
        input#tags(type="text", data-role="tagsinput", value=tags)
    input#record(type="hidden", value=record._id)
block scripts
  script(src='/js/tags.js')
