extends ../layout
block content
  .container
    h1 Calls

    table#calls.table.table-hover
      thead
        tr
          th To
          th Audio
          th Cost
          th Date
          th
        tbody
        each call in calls
          tr
            td= call.to
            td
              audio(src=call.url, controls, preload="none")
            td= call.processing_cost
            td= call.date
            td.actions
              a.open(href="/show/#{call._id}", data-id="#{call._id}", style=call.indexedAt ? "" : "display:none") View
              a.delete(href="#" data-id="#{call._id}") Delete
block scripts
  script(src="/js/index.js")
  script#callTemplate(type="text/template")
    | <tr>
    |   <td><%- to %></td>
    |   <td>
    |     <audio src="<%- url %>" controls preload="none"></audio>
    |   </td>
    |   <td class="cost" data-id="<%- _id %>"></td>
    |   <td><%- date %></td>
    |   <td class="actions">
    |     <a href="/show/<%- _id %>" data-id="<%- _id %>" class="open" style="display: none">View</a>
    |     <a href="" class="delete" data-id="<%- _id %>">Delete</a>
    |   </td>


