extends ../layout
block content
  .container.show
    #view
      h2=call.name
      a(href="#") Rename

    #edit
      h2.hide
        form
          input(type="text", value=record.name)
          button.btn.btn-primary(type="submit") Save
    .row
      .col-sm-2
        label URL:
      .col-sm-10
        a(href=call.url) Link
    .row
      .col-sm-2
        label Duration:
      .col-sm-10
        p= call.duration
    .row
      .col-sm-2
        label Processing Cost:
      .col-sm-10
        p= call.processing_cost
    input#call(type="hidden", value=call._id)